In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [2]:
path="Visadataset.csv"
visa_df=pd.read_csv(path)
visa_df.head(3)

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied

In [3]:
visa_df[['prevailing_wage']]

       prevailing_wage
0             592.2029
1           83425.6500
2          122996.8600
3           83434.0300
4          149907.3900
...                ...
25475       77092.5700
25476      279174.7900
25477      146298.8500
25478       86154.7700
25479       70876.9100

[25480 rows x 1 columns]

In [4]:
pre_mean=visa_df['prevailing_wage'].mean()
pre_mean

74455.81459209183

In [5]:
prestd=visa_df['prevailing_wage'].std()
prestd

52815.94232687357

In [6]:
prWage=visa_df['prevailing_wage']
pre_mean=visa_df['prevailing_wage'].mean()
prestd=visa_df['prevailing_wage'].std()
numrator=prWage-pre_mean
visa_df['prevailing_wage_Zscore']=numrator/prestd
visa_df['prevailing_wage_Zscore']

0       -1.398510
1        0.169832
2        0.919060
3        0.169991
4        1.428576
           ...
25475    0.049923
25476    3.876083
25477    1.360253
25478    0.221504
25479   -0.067762
Name: prevailing_wage_Zscore, Length: 25480, dtype: float64

In [7]:
from  sklearn.preprocessing import StandardScaler
stdscaler=StandardScaler()
visa_df['prevailing_wage_z']=stdscaler.fit_transform(visa_df[['prevailing_wage']])
visa_df['prevailing_wage_z']

0       -1.398537
1        0.169835
2        0.919079
3        0.169994
4        1.428604
           ...
25475    0.049924
25476    3.876159
25477    1.360280
25478    0.221509
25479   -0.067763
Name: prevailing_wage_z, Length: 25480, dtype: float64

In [8]:
visa_df[['prevailing_wage','prevailing_wage_Zscore','prevailing_wage_z']]

       prevailing_wage  prevailing_wage_Zscore  prevailing_wage_z
0             592.2029               -1.398510          -1.398537
1           83425.6500                0.169832           0.169835
2          122996.8600                0.919060           0.919079
3           83434.0300                0.169991           0.169994
4          149907.3900                1.428576           1.428604
...                ...                     ...                ...
25475       77092.5700                0.049923           0.049924
25476      279174.7900                3.876083           3.876159
25477      146298.8500                1.360253           1.360280
25478       86154.7700                0.221504           0.221509
25479       70876.9100               -0.067762          -0.067763

[25480 rows x 3 columns]

In [9]:
visa_df['prevailing_wage'].max(),visa_df['prevailing_wage_z'].max(),visa_df['prevailing_wage_Zscore'].max()

(319210.27, 4.634192776650989, 4.634101837909902)

In [10]:
visa_df['prevailing_wage'].idxmax(),visa_df['prevailing_wage_z'].idxmax(),visa_df['prevailing_wage_Zscore'].idxmax

(21077,
 21077,
 <bound method Series.idxmax of 0       -1.398510
 1        0.169832
 2        0.919060
 3        0.169991
 4        1.428576
            ...
 25475    0.049923
 25476    3.876083
 25477    1.360253
 25478    0.221504
 25479   -0.067762
 Name: prevailing_wage_Zscore, Length: 25480, dtype: float64>)

In [11]:
visa_df['prevailing_wage'].idxmax(),visa_df['prevailing_wage_z'].idxmax()

(21077, 21077)

In [12]:
visa_df['prevailing_wage'].idxmin(),visa_df['prevailing_wage_Zscore'].idxmin()

(20575, 20575)

In [13]:
visa_df['prevailing_wage'].min(),visa_df['prevailing_wage_z'].min()

(2.1367, -1.4097095626210332)

In [14]:
cols=['prevailing_wage','prevailing_wage_z','prevailing_wage_Zscore']
visa_df[cols]

       prevailing_wage  prevailing_wage_z  prevailing_wage_Zscore
0             592.2029          -1.398537               -1.398510
1           83425.6500           0.169835                0.169832
2          122996.8600           0.919079                0.919060
3           83434.0300           0.169994                0.169991
4          149907.3900           1.428604                1.428576
...                ...                ...                     ...
25475       77092.5700           0.049924                0.049923
25476      279174.7900           3.876159                3.876083
25477      146298.8500           1.360280                1.360253
25478       86154.7700           0.221509                0.221504
25479       70876.9100          -0.067763               -0.067762

[25480 rows x 3 columns]

In [19]:
visa_df.iloc[[21077,20575]]

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status,prevailing_wage_Zscore,prevailing_wage_z
21077,EZYV21078,Asia,High School,N,N,442,2006,Midwest,319210.2700,Year,Y,Denied,4.634102,4.634193
20575,EZYV20576,North America,Master's,N,N,1552,2004,Northeast,2.1367,Hour,Y,Certified,-1.409682,-1.409710

In [20]:
#we can get only two column min ,max
cols=['prevailing_wage','prevailing_wage_Zscore']
ids=[21077,20575]
print(visa_df[cols].iloc[ids])
print(visa_df[cols])

cols=['prevailing_wage','prevailing_wage_z']
ids=[2107,20575]
visa_df[['prevailing_wage','prevailing_wage_z']].iloc[[2107,20575]]
visa_df[cols].iloc[ids]

       prevailing_wage  prevailing_wage_Zscore
21077      319210.2700                4.634102
20575           2.1367               -1.409682
       prevailing_wage  prevailing_wage_Zscore
0             592.2029               -1.398510
1           83425.6500                0.169832
2          122996.8600                0.919060
3           83434.0300                0.169991
4          149907.3900                1.428576
...                ...                     ...
25475       77092.5700                0.049923
25476      279174.7900                3.876083
25477      146298.8500                1.360253
25478       86154.7700                0.221504
25479       70876.9100               -0.067762

[25480 rows x 2 columns]

       prevailing_wage  prevailing_wage_z
2107        56741.4400          -0.335405
20575           2.1367          -1.409710

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
path='Visadataset.csv'
visa_df=pd.read_csv(path)
visa_df

In [ ]:
prWage=visa_df['prevailing_wage']
prwagemax=visa_df['prevailing_wage'].max()
prewagemin=visa_df['prevailing_wage'].min()
numrator=prWage-prewagemin
demrator=prWage-prwagemax
visa_df['prevailing_wage_norm']=numrator/demrator
visa_df['prevailing_wage_norm']

In [ ]:
from sklearn.preprocessing import minmax_scale
mmscaler=minmax_scale()
visa_df['prevailing_wage_minmax']=mmscaler.fit_transform(visa_df[['prevailing_wage']])
visa_df['prevailing_wage_minmax']